
/* root */

/* variables */
$mainFont: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
$logoFont: 'SuseongDotum';
$white: #fff;
$purple: #6449EF;
$purpleLight: #8A83CD;
$purpleVeryLight: #EDECFF;
$purpleVVeryLight: #E9EBF2;
$gray: #aeaeae;
$grayLight: #a6a6a6;
$grayVeryLight: #f5f5f5;
$black: #0e0e0e;

$gradientBtoP : linear-gradient(130deg, rgba(65,111,233,1) 0%, rgba(100,71,240,1) 100%);
$boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
/* function */


/* mixin */

@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin centerVertical{
    display:flex;
    align-items: center;
}

@mixin centerTop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerPos{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin bef{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content: '';
}

@mixin flexDown{
    display:flex;
    flex-flow:row wrap;
}


@mixin scrollX($minWidth){
    overflow:auto;
    ul{
        width: $minWidth;
    }
}

@mixin flaticon($iconWeight){
    font-family: $iconWeight !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@mixin shadowBox(){
    position:relative;
    padding: 2rem 1.6rem 2rem;
    background: #fff;
    border-radius: 1.25rem;
    box-shadow: $boxShadow;
}

@mixin textIndent(){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin tablet{ 
    @media (max-width: 1023px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 767px){
        @content;
    }
} 

